{% extends 'base.html' %}

{% load static %}

<head>
    <title>Объявления</title>
    <link rel="stylesheet" type='text/css' href="{% static 'css/announcement_list.css' %}"> 
</head>
<body>

{% block content %}
    <h1>Список объявлений</h1>

    <div class="announcement-grid">
        {% for announcement in announcements %}
            <div class="announcement-item">
                <h3>Автор: {{ announcement.user.username }}</h3>
                <p>Категория: {{ announcement.get_category_display }}</p>
                <p>Описание: {{ announcement.text|truncatechars:30 }}</p>
                <a href="{% url 'forum:AnnouncementDetail' announcement.pk %}">Подробнее</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

</body>
</html>